<div class="shopDetail_head">
	<div class="shopDetail_head_shopImgContainer">
		<img src="<%= asset_path(@shop.image_path) %>" alt="店舗写真" class="el_shopImg">
	</div>
	<div class="shopDetail_head_catchcopyContainer">
		<p class="el_catchcopy"><%= @shop.catch %></p>
		<p class="el_name"><%= @shop.owner_name %></p>
	</div>
	<img src="<%= asset_path(@shop.owner_image_path) %>" alt="店主写真" class="shopDetail_head_shopkeeperImg">
</div>

<div class="shopDetail_profile">
	<div class="shopDetail_profile_inner">
		<p class="shopDetail_profile_title"><%= @shop.owner_name %>さんのプロフィール</p>
		<div class="shopDetail_profile_container">
			<%= @shop.owner_profile %>
		</div>
	</div>
</div>

<div class="shopDetail_desc">
	<p class="el_desc">
		<img src="<%= asset_path(@shop.description_image) %>" alt="店舗紹介写真" class="el_img">
		<%= @shop.description %></p>
</div>

<div class="shopDetail_movie">
	<div class="shopDetail_movie_inner">
		<p class="shopDetail_movie_title"><%= @shop.owner_name %>さんのところに動画で短期留学！</p>
		<div class="shopDetail_movie_container">
			<%= render partial: 'video/video_list', locals: { videos: @shop.videos } %>
		</div>
		<%= link_to 'もっとみる', shop_videos_path(params[:shop_id]), class: 'moreBtn' %>
	</div>
</div>

<div class="shopDetail_studying">
	<p class="shopDetail_studying_title"><%= @shop.owner_name %>さんから直接学べる！お店留学！</p>
	<ul class="imageList">
		<li><img src="https://placehold.jp/800x600.png" alt="" class="shopDetail_studying_img"></li>
		<li><img src="https://placehold.jp/800x600.png" alt="" class="shopDetail_studying_img"></li>
		<li><img src="https://placehold.jp/800x600.png" alt="" class="shopDetail_studying_img"></li>
	</ul>
	<div class="shopDetail_studying_points">
		<p class="">学べる3つのポイント</p>
		<ul class="">
			<li>◯<%= @shop.learn_point1 %></li>
			<li>◯<%= @shop.learn_point2 %></li>
			<li>◯<%= @shop.learn_point3 %></li>
		</ul>
	</div>
</div>

<div class="shopDetail_curriculum">
	<p class="shopDetail_curriculum_title">留学カリキュラム</p>
	<div class="shopDetail_curriculum_container">
		<div class="curriculum_parts">
			<p class="el_date">Day.1</p>
			<p class="el_desc"><%= @shop.learn_day1 %></p>
		</div>
		<%- if @shop.learn_day2.present? %>
			<div class="curriculum_parts">
				<p class="el_date">Day.2</p>
				<p class="el_desc"><%= @shop.learn_day2 %></p>
			</div>
		<%- end %>
		<%- if @shop.learn_day3.present? %>
			<div class="curriculum_parts">
				<p class="el_date">Day.3</p>
				<p class="el_desc"><%= @shop.learn_day3 %></p>
			</div>
		<%- end %>
	</div>

	<div class="shopDetail_curriculum_cta">
		<%= link_to 'お店に留学する', shops_path, class: 'cvBtn' %>
	</div>
</div>

<%- content_for :add_js do %>
	<script>
		$(function () {
			$('.imageList').slick();
		});
	</script>
<% end %>
