<div class="shopIndex">
	<h2>お店を探す</h2>

	<ul>
		<%- Shop.all.each do |shop| %>
			<li>
				<a href="<%= shop_detail_path(shop.id) %>"><%= image_tag shop.image_path %></a>
				<h3><%= shop.name %></h3>
				<p><%= shop.address %></p>
				<p><%= truncate(shop.description, length: 100) %></p>
			</li>
		<%- end %>
	</ul>
</div>
