<div class="videoDetail">
	<div class="videoDetail_head">
		<p><%= @shop.name %> <%= @shop.owner_name %>さん</p>
		<h2><%= @video.name %></h2>
	</div>

	<div class="videoDetail_video">
		<iframe width="560" height="315" src="<%= @video.url %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
	</div>

	<section class="videoDetail_point">
		<h3>学べる3つのポイント</h3>
		<ul>
			<li><%= @video.point1 %></li>
			<li><%= @video.point2 %></li>
			<li><%= @video.point3 %></li>
		</ul>
	</section>

	<section class="videoDetail_cta">
		<a href="" class="cvBtn">動画を購入する</a>
	</section>

	<section class="videoDetail_other">
		<h3>〇〇さんの他の動画</h3>
		<%= render partial: 'video/video_list', locals: {videos: @other_videos} %>
	</section>

</div>
